body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #e6f2ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #005f99;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #003366;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #b3d1ff;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}


/* */

.container {
    background-color: #e6f2ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #b3d1ff;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #0073e6;
    color: white;
}

button.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete-btn:hover {
    background-color: #cc0000;
}


/* CSS tela cadastro */

body {
    background-image: url(../assets/depositphotos_2640329-stock-illustration-seamless-footprint-pattern.jpg);
}

.error {
    color: #780000;
}

.container-home h1 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.container-home {
    height: 100%;
    width: 70%;
    background-color: #FFF;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container-titulo {
    background-color: #003049;
    padding: 10px;
    border-radius: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    position: relative;
}

.input-container label {
    margin-bottom: 5px;
}

.input-container input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid #003049;
    outline-color: #003049;
    resize: vertical;
}

.input-container textarea {
    height: auto;
    flex-direction: column;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-submit {
    width: 50%;
    border-radius: 10px;
    color: #ffffff;
    background-color: #669bbc;
    margin-top: 10px;
}

.footer-app {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    font-weight: bold;
    color: #780000;
    background-color: #c1121f;
}

.footer-app p,
.text-center {
    text-align: center;
}

.menu {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #888;
}

.imagem {
    display: block;
    margin: 30px auto;
    width: 50vw;
    max-width: 150px;
    height: auto; 
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.imagem-neon {
    filter: drop-shadow(0 0 10px #003949) drop-shadow(0 0 20px #669bbc);
}